/* Importación de estilos de páginas */
@import "./styles/pages/Login/Login.css";
@import "./styles/pages/Register/Register.css";

/* Importación de componentes personalizados */
@import "./styles/components.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  line-height: var(--line-height);
}
